<div>
    <mat-toolbar >
        <span >Detalle de Detencion</span>
    </mat-toolbar>
    <mat-card >
        
        <div class="container">
           

                <mat-form-field  style="margin-right: 20px;">
                    <mat-label>ID</mat-label>
                    <input matInput placeholder="Id detencion" value={{detenido.detencion_id}}>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Fecha de detenciom</mat-label>
                    <input matInput placeholder="Fecha" value={{detenido.fecha}}>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" value={{detenido.persona.nombre}}>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="Apellido" value={{detenido.persona.apellido}}>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput placeholder="fecha de nacimiento" value={{detenido.persona.fecha_nacimiento}}>
                </mat-form-field>
                
                <mat-form-field >
                    <mat-label>Dependencia</mat-label>
                    <input matInput placeholder="dependencia" value={{detenido.dependencia.descripcion}}>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Delito</mat-label>
                    <input matInput placeholder="delito" value={{detenido.delito}}>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Cantidad de días</mat-label>
                    <input matInput placeholder="cantidad de dias" value={{detenido.cantidad_dias}}>
                </mat-form-field>

             
            
                <button mat-raised-button color="primary" routerLink="/detenidos/">Cerrar Detalle</button>
    
            </div>
    </mat-card>
</div>
