<div>
    <mat-toolbar >
        <span >Reportes de Detenciones </span>
    </mat-toolbar>
    <mat-card >
        
        <div class="container">
           

                <mat-form-field  style="margin-right: 20px;">
                    <mat-label>Total de Detenciones</mat-label>
                    <input matInput placeholder="Id detencion" value=>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Total de Menores</mat-label>
                    <input matInput placeholder="Fecha" value=>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Detencion más Reciente</mat-label>
                    <input matInput placeholder="Nombre" value=>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Dependencia:</mat-label>
                    <input matInput placeholder="Apellido" value=>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Dependencia:</mat-label>
                    <input matInput placeholder="fecha de nacimiento" value=>
                </mat-form-field>
                
                <mat-form-field >
                    <mat-label>Dependencia</mat-label>
                    <input matInput placeholder="dependencia" value=>
                </mat-form-field>

             

             
            
                <button mat-raised-button color="primary" >Guardar Reporte</button>
    
            </div>
    </mat-card>
</div>
