.container {
  display: flex;
  margin: 10px 40px;
  padding: 10px;
}
.container-title {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
  gap: 10px;
}
.container-title h1{
  display: contents;
}

mat-form-field{
   
  margin:10px

}

.container {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  max-width: 600px;
} 

button{
  margin: 20px;
  
}